
.done-button{
    width: 340px;
    height: 40px;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    background: #FFCE22;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: center;
    border-style: none;
}
.done-button:hover{
    background: #FFD84D;

}


